<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pk.shareabook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme"> -->
        <activity android:name=".Activities.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.ProfileInfo" />
        <activity android:name=".Activities.MainScreen" >




        </activity>
        <activity android:name=".Activities.UploadBook" />
        <activity android:name=".Activities.UploadedBooks" />
        <activity android:name=".Activities.BookDetail" />
        <activity android:name=".Activities.Dashboard" />

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FCM.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".Activities.SharingRequest" />
        <activity android:name=".Activities.MySharedBooks" />
        <activity android:name=".Activities.RecievedBooks">

        </activity>
        <activity android:name=".Activities.RequestedBooks">



        </activity>
    </application>

</manifest>